Options -Indexes -Multiviews 
<IfModule mod_headers.c> 
    # properly handle requests coming from behind proxies 
    Header append Vary User-Agent 
</IfModule> 
<IfModule mod_deflate.c> 
    # Properly handle old browsers that do not support compression 
    BrowserMatch ^Mozilla/4 gzip-only-text/html 
    BrowserMatch ^Mozilla/4\.0[678] no-gzip 
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
    # Explicitly exclude binary files from compression just in case 
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|pdf|swf|ico|zip|ttf|eot|svg)$ no-gzip 
</IfModule> 
 
 
<ifmodule mod_deflate.c=""> 
<filesmatch ".(js|css)$"=""> 
SetOutputFilter DEFLATE 
</filesmatch> 
</ifmodule> 
 
 
# dont cache html or php 
<filesMatch ".(html|php)$"> 
FileETag None 
<ifModule mod_headers.c> 
Header unset ETag 
Header set Cache-Control "max-age=0, private, no-cache, no-store, must-revalidate" 
Header set Pragma "no-cache" 
Header set Expires "Sat, 16 Dec 1989 05:00:00 GMT" 
</ifModule> 
</filesMatch> 
 
 
# one year 
<filesMatch ".(ico|rar|zip|jpg|jpeg|png|gif)$"> 
Header set Cache-Control "max-age=29030400, public" 
</filesMatch> 
 
# one week 
<filesMatch ".(js|css)$"> 
Header set Cache-Control "max-age=29030400, public" 
</filesMatch> 
 
 
# redirrect http://www.host.tld to http://host.tld aka no-www 
 
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC] 
RewriteRule ^(.*)$ http://%1/$1 [R=301,L] 
 
# Protect .htaccess 
<Files .htaccess> 
order allow,deny 
deny from all 
</Files> 
 
 
#stop hotlinking 
RewriteCond %{HTTP_REFERER} !^$ 
RewriteCond %{HTTP_REFERER} !^http://(www.)?host.tld/.*$ [NC] RewriteRule .(gif|jpg|swf|flv|png)$ http://host.tld/hotlinking.gif [R=302,L] 