.container *{
    font-size: 3vw;
}

.headerImg img {
    width: 100%;
    background: #FEF9E9;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    width: auto;
    background: #FEF9E9;
}
.leftDiv >div>div {
    
    display:flex;
    justify-content: space-between;
}

.rightDiv >div>div {
    display:flex;
    justify-content: space-between;
}

.shot {
    width:60%;
}
.prices {
    width:30%;
    display:flex;
    justify-content: space-between;
}
.leftDiv, .rightDiv {
    width: 45%
}

.container h3 {
    font-size:2rem;
    font-family:'Paytone One', sans-serif;
    color:#E04917;
}

.container p, .container span {
    font-size:1rem;
    font-weight: bold;
}

.rightDiv li {
    display:flex;
    justify-content: space-between;
}

@media (max-width:1300px){
    .container h3 {
        font-size: 2.8vw;
    }

    .container p, .container span {
        font-size: 1.4vw;
    }

    .container{
        padding: 2.5rem;
    }
}
