.container {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    width: auto;
    background: #FEF9E9;
}

.leftDiv >div >div, .rightDiv >div >div {
    display:flex;
    justify-content: space-between;
}

.leftDiv, .rightDiv {
    width: 40%
}

.container h3 {
    font-family:'Paytone One', sans-serif;
    color:#E04917;
}
