.container {
    font-size:1vh;
    width: auto;
    background: #FEF9E9;
   
}
.container p {
    font-weight: bold;
    font-size: 1.3rem; 
}

.grid {
    display:grid;
    padding-right:2rem;
    padding-top:2rem;
    padding-left:2rem;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:5rem;
}

.grid > div:nth-child(12) h3 {
    font-size: 1.22rem;
}

.border {
    border-bottom: 1px dotted black;
}
.container h3 {
    color:#e04917;
    font-family: 'Paytone One', sans-serif;
}
.nameAndPrice {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nameAndPrice p {
  margin:0;
}
.blackDivs {
    display:flex;
    justify-content: center;
    align-items: center;
    height:20px;
    width:20px;
    border-radius: 50%;
    color:white;
    background-color: black;
}

.blackDivs p {
    font-size: 0.75rem;
}

.flex {
    display:flex;
    gap:0.25rem;
}
.container img {  
    width: 100%;
}
.container h3 {
    font-size: 1.6rem;
}

@media (max-width:1300px){
    .container {
        box-sizing: border-box;
        
    }
    
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 3.5rem;
        padding:3rem;
    }
    
    .grid >div {
        border-bottom: 1px dotted black;
    }
    
    .grid >div:nth-child(11), .grid >div:nth-child(12) {
        border: none;
    }
    
    .border {
        border: none;
    }

    .grid h3 {
        font-size: 3vw;
    }
    
    .grid p {
        font-size: 1.5vw;
    }
}
@media (max-width:800px){
    .container img:first-child {
        display:none;
    } 
}