.container {
    font-size:1vh;
    width: auto;
    background: #FEF9E9;
   
}
.container p {
    font-weight: bold;
    font-size: 1.3rem;
    
}

.grid {
    display:grid;
    padding-right:4rem;
    padding-top:2rem;
    padding-left:4rem;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:5rem;
}
.border {
    border-bottom: 1px dotted black;
}
.container h3 {
    color:#e04917;
    font-family: 'Paytone One', sans-serif;
}
.nameAndPrice {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nameAndPrice p {
  margin:0;
}
.blackDivs {
    display:flex;
    justify-content: center;
    align-items: center;
    height:30px;
    width:30px;
    color:white;
    background-color: black;
    padding:0.2rem;
    border-radius: 50%;
}
.flex {
    display:flex;
    gap:1rem;
}
.container img {
    
    width: 100%;
}
.container h3 {
    font-size: 1.6rem;
}