.container {
    width: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:1rem;
}
.container h3 {
    color:#e04917;
    font-family: 'Paytone One', sans-serif;
}
.nameAndPrice {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    margin-top: 100px;
    width: 100%;
}