
.container {
  
    z-index:-1;
}
.carousel {
    
    margin-top:3rem;
    margin-left:auto;
    margin-right:auto;
    width:40%;
    box-shadow:0px 3px 12px black;
}
.carousel img {
    
    height:700px;
}
.allPics {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    
    
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    max-height:500px;
    vertical-align: middle;
    width: 100%;
    
}
.column img:hover {
    opacity: 0.7;
}
/* .allPics img:hover {
    
    transform: scale(1.1);
    box-shadow:0px 3px 12px black;
} */
.carousel a span {
    width:6rem;
    height:6rem;
}
@media (max-width:1300px){

  .carousel {
      margin-top:2rem;
  }
  .allPics {
      padding:2rem;
    }
    .carousel img {
        height:400px;
    }
    .column {
        flex: 50%;
    max-width: 50%;
    }
    .column img {
        max-height:400px;
    }
    
    /* .allPics img {
        min-height:200px;
        max-height:350px;
    } */
}
@media (max-width:800px){
    .carousel {
        margin-top:0;
        width:100%;
    }
    .carousel img {
        width:100%;
        height:500px;
    }
    .column img {
        max-height:fit-content
    }
    /* .allPics {
        padding:1.2rem;
        width:100%;
        display:grid;
        align-items: center;
        justify-items: center;
        gap:1rem;
        grid-template-columns: 1fr  ; 
    } */
    /* .allPics img {
        width:80%;
        min-height: none;
        max-height: none;
        
        
    } */
    .allPics img:hover {
       transform:none;
        
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }

}