
.container {
    z-index:-1;
}
.carousel {
    background-color: black;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    box-shadow:0px 3px 12px black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.carousel img {
    width:40%;
    height:auto;
    max-height:800px;
}
.allPics {
    display: flex;
    /* background-color: #1D1C1A; */
    /* flex-wrap: wrap; */
    padding: 0;  
    
}
.imgBackground {
    width:40%;
    display:flex;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    height:800px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    
}
.column img {
    margin-top: 8px;
    max-height:500px;
    vertical-align: middle;
    width: 100%;  
}
.column img:hover {
    opacity: 0.7;
}
.carousel a span {
    width:6rem;
    height:6rem;
}
@media (max-width:1300px){
  
  .allPics {
      padding:2rem;
      padding-top: 0;
      
    }
    .imgBackground {
        width:70%;
    }
    .column {
    flex: 50%;
    max-width: 50%;
    }
    .column img {
        max-height:400px;
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;   
    }
}
@media (max-width:700px){
    .carousel img {
        width:100%;
        max-height:fit-content;
    }
    .column img {
        max-height:fit-content 
    }
    .imgBackground {
        height:500px;
    }
    .allPics {
        padding:1rem;
  
    }
    .allPics img:hover {
       transform:none;
        
    }
    .column {
        flex: 50%;
        max-width: 50%;
    }

}