
.container {
  
    z-index:-1;
}
.carousel {
    
    margin-top:3rem;
    margin-left:auto;
    margin-right:auto;
    width:40%;
    box-shadow:0px 3px 12px black;
}
.carousel img {
    
    height:700px;
}
.allPics {
    padding:3rem;
    width:100%;
    display:grid;
    align-items: center;
    justify-items: center;
    gap:3rem;
    grid-template-columns: 1fr 1fr 1fr ;
    
    
}
.allPics img {
    width:90%;
    min-height:300px;
    max-height:450px;
    transition: all .2s ease-in-out;
    
}
.allPics img:hover {
    
    transform: scale(1.1);
    box-shadow:0px 3px 12px black;
}
.carousel a span {
    width:6rem;
    height:6rem;
}
@media (max-width:1300px){

  .carousel {
      margin-top:2rem;
  }
  .allPics {
      padding:2rem;
    }
    .carousel img {
        height:400px;
    }
    .allPics img {
        min-height:200px;
        max-height:350px;
    }
}
@media (max-width:800px){
    .carousel {
        margin-top:0;
        width:100%;
    }
    .carousel img {
        width:100%;
        height:500px;
    }
    .allPics {
        padding:1.2rem;
        width:100%;
        display:grid;
        align-items: center;
        justify-items: center;
        gap:1rem;
        grid-template-columns: 1fr  ; 
    }
    .allPics img {
        width:80%;
        min-height: none;
        max-height: none;
        
        
    }
    .allPics img:hover {
       transform:none;
        
    }

}