
.carousel {
    width:70%;
    position: relative;
    z-index:-1
    
}
.carousel img {
    width:100%;
    height:900px;
    
}
.luigiLogo {
    
    z-index:1;
    position:absolute;
    right: 0;
    top:0;
    pointer-events: none;
}
.luigiLogo img {
    width:90%;
    height:900px;
}
.carousel-control-prev {
    display:none
}
.carousel-control-next {
    display:none;
}
.carousel  a {
    display:none;
}
