.container {
    background-color: #e9cfbf;
    height:100px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right:5rem;
    padding-left:5rem;
    opacity: 0.8;
    position:relative;
}
.container * {
    font-size:3vw;
    margin:0;
}
.container p {
    font-family:'Paytone One', sans-serif;
    font-size:1.7vw;
}
.carousel-control-prev {
    display:none
}
.carousel-control-next {
    display:none;
}
.sztoriLogo {
    width:99px;
    height:99px;   
}
.right {
    display:flex;
    width:60%;
    justify-content:space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    height:100%;
}
.right a {
    height:100%;
    display:flex;
    align-items: center;
}
.right a {
    text-decoration: none;
    color:#1D1C1A;
  }
 .right a:hover,.right a:focus {
    color:#E04917;
    background:white;
  }
  @media (max-width:1300px){
      .container {
          
        padding-right:2rem;
        padding-left:2rem;
      }
    .container p {
        font-size:2vw;
    }
  
    .right {
        width:70%;
    }
  }
