body {
    background-image: url(./images/pattern.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box; 
}

p {
    font-family: 'Lora', serif;
}

.App footer p {
 font-size:1.7vw;
}
/* navbar cc*/
.bg-myRed{
  background-color: #e9cfbf;
}
.nav-link {
    color:black;
}
.navbar-nav a {
    text-decoration: none;
    color:#1D1C1A;
}
.navbar-nav a:hover {
    text-decoration: none;
    color:grey;
    
}


@media (max-width: 800px){

    .navbar-expand-sm .navbar-toggler {
        display: block;
    }
}
@media (max-width:800px){
    .App footer p {
        font-size:2.5vw;
        margin-bottom:0.8rem;
       }
}