body {
    background-image: url(./images/pattern.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box; 
}

p {
    font-family: 'Lora', serif;
}
.App footer p {
 font-size:1.7vw;
}
@media (max-width:1300px){

}